@model Cart

@{
    ViewData["Title"] = "Mycart";
}


<h1>My cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ArticleCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.TotalPrice)
            </td>
        </tr>
    </tbody>
</table>
